<link rel="stylesheet" href="/Blog-Project/public/styles/navigation.css">



<nav class="bottom-nav">
        <div class="nav-links">
            <a href="/" >home</a>
            <a href="about" >about</a>
            <a href="archive" >archive</a>
            <a href="contact" >contact</a>
            <a href="create" >create</a>
        </div>
    </nav>