<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.partials.ejs') %>
<link rel="stylesheet" href="../styles/about.css">
<body>
    <section class="About">
        <div class="about-title">
            <h1><%= page.title %></h1>
            <% if (isLoggedIn) { %>
                <a href="/edit-about" class="edit-page-btn">Edit Page</a>
            <% } %>
        </div>
        <div class="about-content">
            <%- page.content %>
        </div>
    </section>
    
    <!-- Bottom Navigation -->
    <%- include('partials/navigation.partial.ejs') %>


    
</body>
</html>