<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.partials.ejs') %>
<link rel="stylesheet" href="../styles/about.css">
<body>
    <section class="About">
        <div class="about-title">
            <h1>About Me</h1>
        </div>
        <div class="about-content">
            <p>
                Hello my name is Aditya sai prem, I am from India, Bengaluru, Studying software engineering at CODE university of applied sciences, Berlin. 
                I started these blogs as a way to document i dont know what for now, but i am hoping thoughts ideas, or opinions about things, did not really make it for other people,
                 i have not found a sure purpose for these, maybe acts a journal i dont know or talk about stuff happening around, or document my jouney, I am going to write about things from a persepctive of a 19 year old south indian kid in berlin which i think is pretty niche so feel freee to browse and read stuff, if there arent any stuff well i gues you are early then so ggs.
            </p>
        </div>
    </section>
    
    <!-- Bottom Navigation -->
    <%- include('partials/navigation.partial.ejs') %>


    
</body>
</html>