<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/contact.css"> -->
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="Contact">
        <div class="contact-title">
            <h1>Contact</h1>
        </div>
        <div class="contact-info">
            <div>
                <a href="mailto:saipremaditya@gmail.com" target="_blank">- saipremaditya@gmail.com</a>
            </div>
            <div>
                <a href="https://github.com/Adityuhh11" target="_blank">- github</a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/adityasaiprem/" target="_blank">- linkedin</a>
            </div>
            <div>
                <a href="https://portfolio-website-liart-nu-45.vercel.app/" target="_blank">- portfolio-Website</a>
            </div>
        </div>
    
    <!-- Bottom Navigation -->
     <%- include('partials/navigation.partial.ejs') %>
    <!-- <nav class="bottom-nav">
        <div class="nav-links">
            <a href="/">home</a>
            <a href="about">about</a>
            <a href="archive">archive</a>
            <a href="contact" class="active">contact</a>
        </div>
    </nav> -->
    
</body>
</html>