<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.partials.ejs') %>
<link rel="stylesheet" href="../styles/contact.css">
<body>
    <section class="Contact">
        <div class="contact-title">
            <h1>Contact</h1>
        </div>
        <div class="contact-info">
            <div>
                <a href="mailto:saipremaditya@gmail.com" target="_blank">- saipremaditya@gmail.com</a>
            </div>
            <div>
                <a href="https://github.com/Adityuhh11" target="_blank">- github</a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/adityasaiprem/" target="_blank">- linkedin</a>
            </div>
            <div>
                <a href="https://portfolio-website-liart-nu-45.vercel.app/" target="_blank">- portfolio-Website</a>
            </div>
        </div>
    
    <!-- Bottom Navigation -->
     <%- include('partials/navigation.partial.ejs') %>
    
    
</body>
</html>