<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.partials.ejs') %>
<link rel="stylesheet" href="/styles/createblog.css">
<body>
    <button type="button" class="back-arrow" aria-label="Go back" onclick="window.history.back()">←</button>
    <section class = "create-blog-container">
        <form action="/createblog" method="POST">
            <div class="header">
                <div class="header-title">
                    <h1>Create a Blog</h1>
                </div>
                <div class="submit-button">
                    <button type="submit">Create Blog</button>
                </div>
                
            </div>

            <div class="form-group">
                <label for="title-input">title</label>
                <input id="title-input" type="text" name="title" required>
            </div>
            
            <div class="form-group">
                <label for="desc-input">description</label>
                <textarea id="desc-input" name="description" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="content-input">content</label>
                <textarea id="content-input" name="content" rows="10" required></textarea>
            </div>
            <input type="hidden" name="ownerId" value="<%= user._id %>" hidden>
        </form>
    </section>
</body>
</html>